<div class="address">
    <button (click)="navigateWithState()" class="btn btn-lg btn-primary col-lg-4">Add Address</button>
    <ul class="row">
        <li *ngFor="let address of addresses" class="col-lg-12 col-md-12 col-sm-12">
        <app-address [address]="address"></app-address>
        </li>
    </ul>
</div>
