div.order {
    text-align: start;
    margin: 5px;
    padding: 5px;
    background-color: #e6f2ff;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    height: auto;
    &:hover{
        background-color: #cce6ff;
    }
    ul{
        list-style-type: none;
    }
    button {
        float: right; 
        margin-top: 8px;
        margin-bottom: 20px;
    }
}