<div class="col-lg-6 col-md-6 col-sm-12 order">
        <ul>
            <li>{{order.id}}, {{order.productName}}, {{order.reciepnt}}, 
                {{order.supplier || "value is empty"}}, 
                {{(order.dispatchDate | date: 'dd/MM/yyyy') || "value is empty"}}, 
                {{(order.deliveryDate  | date: 'dd/MM/yyyy') || "value is empty"}}</li>
            <li>{{order.addressOfDelivery || "value is empty"}}</li>
            <li><button (click)="navigateWithState(order)" class="btn btn-sm btn-primary">Edit</button></li>
        </ul>
        
</div>
