div.address {
    text-align: start;
    margin: 5px;
    padding: 5px;
    background-color: #e6f2ff;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    height: 40px;
    &:hover{
        background-color: #cce6ff;
    }
    button {
        float: right; 
    }
}
