<div class="order">
        <button (click)="navigateWithState()" class="btn btn-lg btn-primary col-lg-4">Add Order</button>
        <ul class="row">
            <li *ngFor="let order of orders" class="col-lg-12 col-md-12 col-sm-12">
            <app-order [order]="order"></app-order>
            </li>
        </ul>
    </div>
    
