<form #editForm="ngForm" id="editForm" (ngSubmit)="edit ? updateOrder() : createOrder()" class="col-lg-4">
        <div *ngIf="edit">
            <label for="id">Id</label>
            <input type="text" class="form-control" name="id" [(ngModel)]="order.id" readonly>
        </div>
        <div>
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" name="productName" [(ngModel)]="order.productName">
        </div>
        <div>
            <label for="reciepnt">Reciepnt</label>
            <input type="text" class="form-control" name="reciepnt" [(ngModel)]="order.reciepnt">
        </div>
        <div>
            <label for="supplier">Supplier</label>
            <input type="text" class="form-control" name="supplier" [(ngModel)]="order.supplier">
        </div>
        <div>
            <label for="dispatchDate">Dispatch Date</label>
            <input type="text" class="form-control" name="dispatchDate" [(ngModel)]="order.dispatchDate" >
        </div>
        <div>
            <label for="deliveryDate">DeliveryDate</label>
            <input type="text" class="form-control" name="deliveryDate" [(ngModel)]="order.deliveryDate">
        </div>
        <div>
                <label for="addressId">Address</label>
                <select onfocus="this.size=7;" onchange="this.size=1;" for="addressId" name="addressId" [(ngModel)]="order.addressId">
                        <option *ngFor="let a of addresses" [ngValue]="a.id">{{ a.address }}</option>
                </select>
            </div>
        <div>
          <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
        </div>
  </form>


  

