<form #editForm="ngForm" id="editForm" (ngSubmit)="edit ? updateAddress() : createAddress()" class="col-lg-4">
        <div *ngIf="edit">
            <label for="id">Id</label>
            <input type="text" class="form-control" name="id" [(ngModel)]="address.id" readonly>
        </div>
        <div>
            <label for="street">Street</label>
            <input type="text" class="form-control" name="street" [(ngModel)]="address.street">
        </div>
        <div>
            <label for="city">City</label>
            <input type="text" class="form-control" name="city" [(ngModel)]="address.city">
        </div>
        <div>
            <label for="state">State</label>
            <input type="text" class="form-control" name="state" [(ngModel)]="address.state">
        </div>
        <div>
            <label for="postalCode">PostalCode</label>
            <input type="text" class="form-control" name="postalCode" [(ngModel)]="address.postalCode">
        </div>
        <div>
            <label for="country">Country</label>
            <input type="text" class="form-control" name="country" [(ngModel)]="address.country">
        </div>

        <div>
          <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save Changes</button>
        </div>
  </form>


  
