<div class="col-lg-6 col-sm-12 home">
    <h3> Welocme to Order Management</h3>
    <hr>
    <div>
      <ul>
        <li><h4> what is done:</h4></li>
        <li> deploy App in <b>AWS</b>(elasticbeanstalk)</li>
        <li><a href="http://ordermanagementapp-prod.ap-southeast-2.elasticbeanstalk.com/address">http://ordermanagementapp-prod.ap-southeast-2.elasticbeanstalk.com/address </a></li>
        <li>Implement <b>N-Tier Architecture</b> with control layer, business logic layer, and repo layer</li>
        <li>Setup<b> Entity Framework</b></li>
        <li>Design database with a one-to-many relationship</li>
        <li>Add <b>DbContext</b> and register DbSets in it</li>
        <li>Create database and tables and data seeding (<b>code-first</b> approach)</li>
        <li></li>
        <li>Use built-in <b>Dependency Injection</b> in .net core and register services and Dbcontext and repo services (for Ioc)</li>
        <li>Use <b>generic</b> repo service to be used by either Order and Address</li>
        <li>Set up <b>Automapper</b> and mapping <b></b>Dtos with entities </li>
        <li>Add <b>global exception handler</b> as middleware</li>
        <hr>
        <li><h4> what is left:</h4></li>
        <li>Please note that the focus has been on structure and implementation than styling and details</li>
        <li>Some validation stuff in front-end and back-end</li>
        <li>Pagination and searching(filtering) for oreder and address</li>
        <li>Custom error handling in the back-end to return proper status rather than 500</li>
        <li>Some styling, user experience</li>
        <li>A smoke test is done but the edge case scenario has not been covered</li>
      </ul>
    </div>
</div>
